/*
Colors used:
Primary Color (Blue): #2B4D5D
Secondary Color (Black): #000000
Secondary Color (White): #ffffff */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

header {
  background-color: #2B4D5D;
  padding: 0.625em;
  font-weight: bold;
  font-variant: small-caps;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  color: #2B4D5D;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
}

h5 {
  line-height: 1;
  font-size: 1.2em;
  font-weight: 400;
}

img {
  width: 100%
}

a {
  color: #2B4D5D;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ffffff;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #2B4D5D;
}

.nav-link, .nav-link:visited, .nav-link:hover {
  color: #ffffff;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #2B4D5D;
  color: #ffffff !important;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgb(14, 76, 106);
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: #2B4D5D;
}

.button.contact {
  background-color: transparent;
  color: #2B4D5D !important;
  text-transform: uppercase;
  border: 2px solid #2B4D5D;
}

.button.contact:hover .button.contact:focus {
  background-color: #2B4D5D;
  color: #2B4D5D !important;
}

.button.contact:active {
  background-color: rgb(14, 76, 106);
  color: #2B4D5D;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

.logo {
  max-width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}

.intro {
  padding-bottom: 50px;
}

#project .gray {
  opacity: 0.5;
}

#overview .container {
  padding-bottom: 50px;
}

#hero .container {
  padding-bottom: 50px;
}

footer {
  padding-top: 50px;
}

.social-icons {
  text-align: center;
}

.social-icons li {
  display: inline-block;
  margin-top: 50px;
}

.social-icons li a {
  border-bottom: none;
}

.social-icons li svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.boxed {
  border: 1px solid #707070;
  padding: 0 10px;
}
